<mat-card class="file-upload-list mat-elevation-z1">
  <mat-card-content class="file-upload-list__content">
    <ng-container *ngIf="(files$ | async) as files; else empty">
      <ng-container *ngIf="files?.length > 0; else empty">
        <div
          *ngFor="let file of files; trackBy: trackById; let i = index;"
          [@enter]="{value: '', params: {delay: i * 100}}"
          [@leave]>
          <app-file-upload-list-item [file]="file" (remove)="remove($event)">

          </app-file-upload-list-item>
        </div>
      </ng-container>
    </ng-container>
  </mat-card-content>
  <mat-card-actions class="file-upload-list__action">
    <button mat-stroked-button color="primary" (click)="onAttach()">
      <mat-icon>
        attach_file
      </mat-icon>
      Add Files
    </button>
    <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" style="display:none;" />
    <button color="accent" mat-stroked-button (click)="submit()">
      <mat-icon>
        upload
      </mat-icon>
      Upload
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #empty>
  <p class="file-upload-list__content--empty">
    List Empty. Please Upload by clicking the Add File button
  </p>
</ng-template>
