<mat-card class="file-item mat-elevation-z0">
  <section class="file-item__container">
    <div class="file-item__info file-item__info--status">
      <ng-container *ngTemplateOutlet="status; context: {$implicit: file.status}"></ng-container>
    </div>
    <div class="file-item__info file-item__info--name">{{file.name}}</div>
    <div class="file-item__info file-item__info--type">
      <mat-chip-list>
        <mat-chip color="accent" selected class="chip">
          {{file.type}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="file-item__info file-item__info--size">{{file.size}}</div>
    <div class="file-item__info file-item__info--action">
    <button mat-icon-button color="warn" aria-label="Delete" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    </div>
</section>
</mat-card>

<ng-template #status let-status>
  <ng-container [ngSwitch]="status">
    <ng-container *ngSwitchCase="statuses.Uploading">
      <mat-progress-spinner color="primary" diameter="16" mode="indeterminate"></mat-progress-spinner>
    </ng-container>
    <ng-container *ngSwitchCase="statuses.Done">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="12" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
      </svg>
    </ng-container>
    <ng-container *ngSwitchCase="statuses.Failed">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
        <line class="path line" fill="none" stroke="#D06079" stroke-width="12" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
        <line class="path line" fill="none" stroke="#D06079" stroke-width="12" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
      </svg>
    </ng-container>
    <ng-container *ngSwitchCase="statuses.Initial">

    </ng-container>
  </ng-container>
</ng-template>
