<mat-card class="file-item mat-elevation-z0">
  <section class="file-item__container">
    <div class="file-item__info file-item__info--status">
      <app-status-indicator [status]="file.status"></app-status-indicator>
    </div>
    <div class="file-item__info file-item__info--name">{{file.name}}</div>
    <div class="file-item__info file-item__info--type">
      <mat-chip-list>
        <mat-chip color="accent" selected class="chip">
          {{file.type}}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="file-item__info file-item__info--size">{{file.size}}</div>
    <div class="file-item__info file-item__info--action">
    <button mat-icon-button color="warn" aria-label="Delete" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
    </div>
  </section>
  <section class="mat-caption file-item__error" [@slideInUpOnEnter] [@slideOutDownOnLeave] *ngIf="file.error">
    <span class="file-item__error--chip">
      Error:
    </span>
    <span class="file-item__error--text" [matTooltip]="file.error" matTooltipClass="tooltip">
      {{file.error}}
    </span>
  </section>
</mat-card>

